﻿.bg-dark {
    background-color: #343a40 !important;
}

.bg-dark th {
        color: #fff !important;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
        padding-top: 11px;
        padding-bottom: 11px;
        vertical-align: bottom;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 12px;
}




.bg-blue {
    background-color: #2574ab !important;
}

.bg-blue th {
        color: #fff !important;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
        padding-top: 11px;
        padding-bottom: 11px;
        vertical-align: bottom;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 12px;
}


.bg-sucess {
    background-color: #2594ab !important;
}

.bg-sucess th {
        color: #fff !important;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
        padding-top: 11px;
        padding-bottom: 11px;
        vertical-align: bottom;
        border-bottom: 0;
        text-transform: capitalize !important;
        letter-spacing: .5px;
        font-size: 12px;
 }



.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

    .pagination-ys table > tbody > tr :hover {
        display: inline;
        background-color: rgb(233, 236, 239);
    }

    .pagination-ys table > tbody > tr > td > a,
    .pagination-ys table > tbody > tr > td > span {
        position: relative;
        float: left;
        padding: 8px 12px;
        line-height: 1.42857143;
        text-decoration: none;
        color: #5b93d3;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        margin-left: -1px;
    }

    .pagination-ys table > tbody > tr > td > span {
        position: relative;
        float: left;
        padding: 8px 12px;
        line-height: 1.42857143;
        text-decoration: none;
        margin-left: -1px;
        z-index: 2;
        color: #aea79f;
        background-color: #f5f5f5;
        border-color: #dddddd;
        cursor: default;
    }

    .pagination-ys table > tbody > tr > td:first-child > a,
    .pagination-ys table > tbody > tr > td:first-child > span {
        margin-left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .pagination-ys table > tbody > tr > td:last-child > a,
    .pagination-ys table > tbody > tr > td:last-child > span {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .pagination-ys table > tbody > tr > td > a:hover,
    .pagination-ys table > tbody > tr > td > span:hover,
    .pagination-ys table > tbody > tr > td > a:focus,
    .pagination-ys table > tbody > tr > td > span:focus {
        color: #5b93d3;
        background-color: #eeeeee;
        border-color: #dddddd;
    }







.table_custom_border_top_gray > thead > tr > th,
.table_custom_border_top_gray > tbody > tr > th,
.table_custom_border_top_gray > tfoot > tr > th,
.table_custom_border_top_gray > thead > tr > td,
.table_custom_border_top_gray > tbody > tr > td,
.table_custom_border_top_gray > tfoot > tr > td {
    border-top: 1px solid #c0c2c3 !important;
}


.button-for-form-control-input {
    display: block;
    height: 38px !important;
    padding: 10px 12px !important;
    font-size: 12px;
    line-height: 1.42857143;
}

.textbox-background-white-color-black {
    color: #212223 !important;
    background-color: #ffffff !important;
}



