﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Notaccess_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div class="sl-mainpanel">
        <nav class="breadcrumb sl-breadcrumb">
            <a class="breadcrumb-item" href="#">STM</a>
            <span class="breadcrumb-item active">Not Access</span>
        </nav>

        <div class="sl-pagebody">
            <div class="sl-page-title">
                <h5>NOT ACCESS</h5>
            </div>
            <div class="card pd-20 pd-sm-40">
                BU SƏHİFƏYƏ İCAZƏNİZ YOXDUR...
            </div>
        </div>
    </div>
</asp:Content>

